.overall-nav {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  font-weight: 500;
  align-items: center;
  z-index: 1;
}

.overall-nav img {
  scale: 0.8;
}

.mid-nav-section {
  display: flex;
  gap: 2em;
}

.mid-nav-section p {
  transition: font-weight 0.1s ease;
  width: 4rem;
  cursor: pointer;
}

.mid-nav-section p:hover {
  font-weight: bold;
}

#url-text-for-nav {
  color: #0065fe;
}

#features {
  height: max-content;
  border: none;
  width: 5rem;
  font-size: inherit;
  font-weight: 500;
  background: none;
  transition: font-weight 0.1s ease;
}

#features:hover {
  cursor: pointer;
  font-weight: bold;
}

#features:focus {
  outline: none;
}

.login-signup-section {
  display: flex;
  align-items: center;
  width: 15%;
  gap: 2em;
}

#login-button {
  color: #0065fe;
  cursor: pointer;

}

#signup-button {
  background-color: #0065fe;
  padding: 0.7em 1.2em;
  width: 5rem;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;

}

@media (max-width: 768px) {
    .overall-nav {
        display: block;
    }

    .mid-nav-section {
        display: none;
    }

    .login-signup-section {
        display: none;
    }
    
}
